<footer class="footer">

    <span class="footer__copyright">&copy; 2014-2020  |  Brasrom </span>
    <a href="https://twitter.com/Denon888" target="_blank" title="twitter">

                        <i class="fa fa-fw fa-twitter"></i>twitter</a>

</footer>

<script async src="//dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script>


<!--下面为没用的可以参考
https://blog.csdn.net/ddxygq/article/details/85254308
和https://blog.csdn.net/qq_40910541/article/details/80659193
<span id="busuanzi_container_site_uv">
  本站访客数<span id="busuanzi_value_site_uv"></span>人次
</span>
-->
<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
<span id="busuanzi_container_site_pv">访客数<span id="busuanzi_value_site_pv"></span></span>
<!--下面暂时不要
<span class="post-meta-divider">|</span>
<span id="busuanzi_container_site_uv">总访客数<span id="busuanzi_value_site_uv"</span></span>
->
<!--第五行可以替换为：-->
<!--span class="footer__copyright">&copy; 2019-2020.  |  Brasrom  | <a mailto="chenjie040533@163.com">联系</a></span>-->
<!-- 用这符号注释 -->
